html {
    font-family: 'Rubik';
    background-color: #d0cfcd;
}

.App {
    padding-top: 8rem;
    
}

.App-header {
    display: flex;
    justify-content: center;
}

.logo {
    width: 44rem;
}

.pre-contex {
    display: flex;
    justify-content: space-between;
    margin: 0 20rem;
    align-items: center;
}

.svg {
    margin-top: 3rem;
    font-size: 8rem;
}


.contex {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 2rem;
}

.isotipo {
    height: 3rem;
}

.text {
    padding-top: 1rem;
    font-size: 2rem;
    font-weight: 300;
}